@charset "UTF-8";
/*
Theme Name: Storefront Child
Description: Storefront starter child theme.
Author: Florin Buga
Template: storefront
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: storefront-child
*/
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
/**
 * General Layout
 */
@media screen and (min-width: 768px) {
  .col-full {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
  .col-full:after {
    content: " ";
    display: block;
    clear: both;
  }

  .site-header {
    margin-bottom: 3em;
    padding-top: 1em;
  }
  .site-header .top-message {
    width: 39.13043%;
    float: left;
    margin-right: 4.34783%;
  }
  .site-header .top-menu {
    width: 56.52174%;
    float: right;
    margin-right: 0;
  }
  .site-header .logo {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .site-header .primary-nav {
    margin-bottom: 1.5em;
  }
  .site-header .secondary-nav {
    margin: 1.5em 0;
  }
  .site-header .banner {
    margin-top: 40px;
  }

  .content-area {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
/**
 * Typography
 */
body,
button,
input,
select,
textarea {
  color: #444444;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
}

a {
  color: #555555;
}
a:hover {
  color: #5FC5B8;
}

/**
 * Global styles
 */
/**
 * Header
 */
.site-header {
  background-color: transparent;
}
.site-header .top-message {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #444444;
}
.site-header .logo {
  text-align: center;
}
.site-header .logo img {
  display: inline;
}
.site-header .brand {
  border-top: 1px solid #5FC5B8;
  border-bottom: 1px solid #5FC5B8;
  background: transparent url("img/header_pattern.jpg") repeat top left;
}

/**
 * Footer
 */
.site-footer {
  color: #444444;
}
.site-footer h1,
.site-footer h2,
.site-footer h3,
.site-footer h4,
.site-footer h5,
.site-footer h6 {
  color: #444444;
}
.site-footer a:not(.button) {
  color: #555555;
}
.site-footer a:not(.button):hover {
  color: #5FC5B8;
}

/**
 * Tables
 */
table tbody td,
table tbody tr:nth-child(2n) td {
  background: none;
}

/**
 * Main Naivgation
 */
/**
 * General Menu Styles
 */
ul.menu {
  margin: 0;
}
ul.menu > li {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  /**
   * Top Menu
   */
  .top-menu {
    text-align: right;
  }
  .top-menu li {
    margin-right: 10px;
    border-right: 1px solid #aaa;
    padding-right: 10px;
    line-height: .6em;
  }
  .top-menu li:last-child {
    margin-right: 0;
    border-right: none;
    padding-right: 0;
  }
  .top-menu li a {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #444444;
  }
  .top-menu li a.cart {
    color: #E0575E;
  }
  .top-menu li a.cart::before {
    font-family: FontAwesome;
    content: "ïº";
    margin-right: .5em;
  }

  /**
   * Primary Navigation
   */
  .main-nav ul.menu {
    text-align: center;
  }
  .main-nav ul.menu li {
    margin-right: 50px;
  }
  .main-nav ul.menu li:last-child {
    margin-right: 0;
  }
  .main-nav ul.menu li a {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #444444;
    display: block;
    margin-top: -1px;
    border-top: solid 2px transparent;
    padding: 25px 0 0;
    transition: all 0.35s ease-in-out;
  }
  .main-nav ul.menu li a:hover, .main-nav ul.menu li.current-menu-item > a {
    border-top: solid 2px #444444;
  }

  /**
   * Secondary Navigation
   */
  .secondary-nav ul.menu {
    text-align: center;
  }
  .secondary-nav ul.menu li {
    margin-right: 5px;
  }
  .secondary-nav ul.menu li:last-child {
    margin-right: 0;
  }
  .secondary-nav ul.menu li a {
    border: solid 2px #5FC5B8;
    box-shadow: none;
    background: transparent;
    padding: 5px 45px 4px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    color: #E0575E;
    transition: all 0.35s ease-in-out;
  }
  .secondary-nav ul.menu li a:hover {
    background: transparent;
  }
  .secondary-nav ul.menu li a:hover,
  .secondary-nav ul.menu li .current-menu-item a {
    color: black !important;
  }
}
/**
 * Content
 */
/**
 * Blog Archive
 */
.hentry .entry-header h1 {
  margin-bottom: 0;
  border: none;
}

@media screen and (min-width: 768px) {
  .hentry.type-post .entry-content {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
/**
 * Widgets
 */
/**
 * Side widgets
 */
.widget-area .widget {
  font-size: inherit;
}
.widget-area .widget h1.widget-title {
  display: inline-block;
  margin: 0;
  margin-bottom: -2px;
  border-bottom: solid 2px #444;
  padding-bottom: 20px;
  font-weight: normal;
  font-size: 28px;
}
.widget-area .widget a {
  opacity: 1;
}

/**
 * Footer widgets
 */
.footer-widgets {
  border-bottom: 1px solid #DADADA;
  padding-top: 1.618em;
}
.footer-widgets .widget h3 {
  display: inline-block;
  margin: 0;
  margin-bottom: -2px;
  border-bottom: solid 2px #444;
  padding-bottom: 20px;
  font-weight: normal;
  font-size: 15px;
  text-transform: uppercase;
  color: #333;
}
.footer-widgets .widget .textwidget {
  border-top: solid 2px #e9e9e9;
  padding-top: 25px;
}

/**
 * Specific widgets
 */
.widget_product_categories > ul,
.widget_product_categories > div,
.widget_nav_menu > ul,
.widget_nav_menu > div {
  border-top: solid 2px #e9e9e9;
  padding-top: 25px;
}
.widget_product_categories ul li,
.widget_nav_menu ul li {
  display: list-item;
  border-bottom: double 3px #eee;
  padding: 10px 5px 15px;
}
.widget_product_categories ul li:last-child,
.widget_nav_menu ul li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.widget_product_categories ul li:before,
.widget_nav_menu ul li:before {
  content: "" !important;
}
.widget_product_categories ul li.current-cat:before,
.widget_nav_menu ul li.current-cat:before {
  content: "" !important;
}
.widget_product_categories ul li a,
.widget_product_categories ul li span,
.widget_nav_menu ul li a,
.widget_nav_menu ul li span {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #444444;
  font-size: 15px;
}
.widget_product_categories ul li ul.children,
.widget_nav_menu ul li ul.children {
  margin: 0 0 0 2em;
}
.widget_product_categories ul li ul.children li:first-child,
.widget_nav_menu ul li ul.children li:first-child {
  margin-top: 17px;
  border-top: double 3px #eee;
  padding-top: 15px;
}

.widget_search form::before,
.widget_product_search form::before {
  top: 0;
  left: 0;
  padding: 12px 15px;
  line-height: 24px;
  padding-top: 11px;
  color: #9d9d9d;
}
.widget_search form input[type=text],
.widget_search form input[type=search],
.widget_product_search form input[type=text],
.widget_product_search form input[type=search] {
  padding-left: 35px;
}

#mc-embedded-subscribe-form input[type=email] {
  width: 100%;
  margin-bottom: 1.6em;
}

.fb_iframe_widget {
  overflow: hidden;
  max-width: 100%;
}

.legal {
  margin-top: 1.618em;
  text-align: center;
}

/**
 * Forms
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.added_to_cart {
  border: solid 2px #5FC5B8;
  box-shadow: none;
  background: transparent;
  padding: 5px 45px 4px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  color: #E0575E;
  transition: all 0.35s ease-in-out;
  padding: 10px 20px;
  line-height: 22px;
  height: 46px;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button:hover,
.added_to_cart:hover {
  background: #f0b0a0;
}
button.cta, button.alt,
input[type="button"].cta,
input[type="button"].alt,
input[type="reset"].cta,
input[type="reset"].alt,
input[type="submit"].cta,
input[type="submit"].alt,
.button.cta,
.button.alt,
.added_to_cart.cta,
.added_to_cart.alt {
  border: solid 2px #5FC5B8;
  box-shadow: none;
  background: transparent;
  padding: 5px 45px 4px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  color: white;
  transition: all 0.35s ease-in-out;
  padding: 10px 20px;
  line-height: 22px;
  background-color: #E0575E;
}
button.cta:hover, button.alt:hover,
input[type="button"].cta:hover,
input[type="button"].alt:hover,
input[type="reset"].cta:hover,
input[type="reset"].alt:hover,
input[type="submit"].cta:hover,
input[type="submit"].alt:hover,
.button.cta:hover,
.button.alt:hover,
.added_to_cart.cta:hover,
.added_to_cart.alt:hover {
  background: #f0b0a0;
}
button.cta:hover, button.alt:hover,
input[type="button"].cta:hover,
input[type="button"].alt:hover,
input[type="reset"].cta:hover,
input[type="reset"].alt:hover,
input[type="submit"].cta:hover,
input[type="submit"].alt:hover,
.button.cta:hover,
.button.alt:hover,
.added_to_cart.cta:hover,
.added_to_cart.alt:hover {
  background-color: #E0575E;
  opacity: inherit;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea,
.input-text {
  border: solid 1px #ccc;
  padding: 10px 15px;
  line-height: 24px;
  border-radius: 2px;
  box-shadow: none;
  background-color: transparent;
  color: #444444;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus,
.input-text:focus {
  background-color: transparent;
  color: #444444;
}

textarea {
  height: 120px;
}
