/**
 * WooCommerce
 */

@import 'susy';

@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';

/**
 * Homepage
 */
.page-template-template-homepage {

	.storefront-product-section {
		// Reset parent theme styling
		border-bottom: 0;
		margin-bottom: 0;

		.section-title {
			display: none;
		}
	}
}

/**
 * Breadcrumb
 */
.woocommerce-breadcrumb {

	// Only display it on product page
	display: none;
	.single-product & {
		display: block;
	}
	
	// Reset parent theme styling
	margin: 0;
	border: none;
	padding: none;
}

	
/**
 * Products
 */
.woocommerce.archive {
	.woocommerce-ordering,
	.woocommerce-result-count {
		display: none;
	}
}
ul.products {
    li.product {
        figure {
            position: relative;
            min-height: 240px;
            img {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
	            margin: 0 auto 10px;
            }
        }       
        h3,
        .price {
            font-size: 15px;
            font-weight: bold;
        }
        h3 {
            color: #777;
            line-height: 20px;
            height: 40px;
        }
        .onsale {
            position: absolute;
            top: 2em;
            left: 2em;
            @include sexy-border($color2, $color2);
            padding: 5px 10px 4px;
        }
        .star-rating {
            display: none;
        }
        .price {
            color: black;
        }
    }
}

/**
 * Single Product
 */
.single-product div.product {
	.images {
		.wp-post-image {
			margin: 0 auto;
		}
		.thumbnails {
	        max-width: 460px;
	        margin: 0 auto;
	        
			a.zoom {
				width: auto;
				height: 90px;
				margin: 10px;
				&.first {
					clear: none;
					margin-left: 0;
				}
				&.last {
					float: left;
					margin-right: 10px;
				}
			}
		}
	}
	.product_meta {
		font-size: 1em;
		// Hide SKU and default taxonomies
		.sku_wrapper,
		.posted_in,
		.tagged_as {
			display: none;
		}
		.atentionari {
			margin: 1em 0;
			position: relative;
			&::before {
				font-family: FontAwesome;
				content: "\f06a";
				position: absolute;
				left: -19px;
				font-size: 14px;
				color: $color1;
			}
		}	
		ul.custom_taxonomies {
			margin: 0;
			list-style-type: square;
			color: $color1;
			label,
			span {
				color: $text-color;
			}
		}	
	}
	div[itemprop="offers"] {
		font-size: 23px;
		line-height: 30px;
		font-weight: bold;
		
		// Reset parent theme styling
		p {
			margin-bottom: 2px;
		}
	}
	.disponibilitate {
		
		span {
			// Make it look like a box
			display: inline-block;
			max-width: 89px;
			padding: 2px 10px 2px 10px;
			background: $color1;
			color: white;
			
			text-transform: uppercase;
			font-size: 13px;
			font-weight: bold;
		}
	}
	.info-notes {
		margin-bottom: 4px;
		font-size: 13px;
		font-weight: bold;
		
		.delivery {
			@include icon("\f0d1", $color1);
		}
		.payment {
			@include icon("\f0d6", $color1);
		}
		.return {
			@include icon("\f079", $color1);
		}			
	}
	.contact {
		margin: 35px 0 0 0;
		font-size: 13px;
		font-weight: bold;
	}
	form.cart {
		margin: 30px 0 0 0;
		border-top: solid 1px #ccc;
		padding-top: 35px;
		.quantity {
			display: none !important;
		}
		button {
			width: 100%;
			&::before {
				font-family: FontAwesome;
				content: "\f07a";
				margin-right: .5em;
			}
		}
		table.variations {
			.label {
				display: none;
			}
			.value {
				height: 46px;
				margin-bottom: 35px;
			}
			.reset_variations {
				display: none !important;
			}
		}
		.single_variation_wrap {
			display: block !important;
		}
		.available-on-backorder {
			display: none;
		}
		.variations_button {
			border: none;
			padding: 0;
		}			
	}
	
	.related.products {
		margin-top: 4em;
		
		h2 {
			text-align: center;
		}
	}
}

/**
 * Cart
 */
table.cart {
	margin-bottom: 0;
	thead {
		text-indent: 0;
		th {
			padding: 15px 5px;
			//display: inline-block;
			border-bottom: 2px solid black;
			//margin-bottom: -1px;
		}
	}
	td {
		vertical-align: middle;
		padding: 25px 5px;
		border-bottom: 1px solid #ccc;
		&::first-child {
			//border-top: 1px solid #ccc;
		}
	}	
	.product-price,
	.product-quantity,
	.product-subtotal {
		text-align: right;
	}
	.variation {
		dt,
		dd {
			display: inline-block;
		}
	}
	.qty {
		max-width: 3.6em;
	}
}

.wc-proceed-to-checkout {
	.button {
		display: inline-block;
		&.checkout-button {
			float: right;
			font-size: 12px;
		}
	}	
}

.cart_totals {
	width: auto;
	float: none;
	font-size: 20px;
	h2 {
		display: none;
	}
	table th,
	table td {
		padding: 9px 0;
	}
	table td {
		text-align: right;
	}
}

a.remove {
	@include icon-replacement("\f057", $color2, 21px);
	line-height: 0;
	
	// Reset parent theme styling
	width: auto;
	height: auto;
	text-indent: 0;
	&:before {
		position: static;
		line-height: 1;
	}
}

/**
 * Checkout
 */
.checkout {
	.woocommerce-billing-fields {
		#billing_country_field,
		#billing_company_field,
		#billing_state_field {
			display: none;
		}
		#billing_address_2_field,
		#billing_postcode_field {
			display: none !important;
		}
	}
	.woocommerce-shipping-fields {
		display: none;
	}
	
	.shop_table {
		.variation {
			margin: 0;
			dt,
			dd {
				display: inline-block;
			}
		}
	}
}

#payment {
	.place-order {
		.button {
			font-size: 12px;
		}
	}
	.payment_methods {
		li {
			background: rgba(0,0,0,0.035);
			label {
				display: inline-block;
				width: auto;
				&::after {
					content: ".";
				}
			}
			.payment_box {
				display: inline-block;
				margin: 0;
				padding: 0;
				background: none;
				border: none;
			}
		}
	}
}

/**
 * My Account
 */
.my_account_orders {
	.button {
	    padding: 10px 20px;
	    font-size: 12px;
	}
}

@media screen and (min-width: 768px) {

	/**
	 * Breadcrumb
	 */
	.woocommerce-breadcrumb {
		margin: -2em 0 1em 0;
	}
		
	/**
	 * Products
	 */
	.woocommerce.archive {
		
		// Make the Widget Area visible and put it on the left.		
		.widget-area {
			@include span(first 4 of 12);
		}
		
		.content-area {
			@include span(last 8 of 12);
		}

	}

	/**
	 * Single Product
	 */
	.woocommerce.single-product div.product {
		@include container(24);
		
		// LEFT: the gallery
		.images {
			@include span(10 of 24);
		}
		
		// MIDDLE & RIGHT: product name
		.product_title {
			@include span(last 14 of 24);
			clear: none;
		}
		
		// MIDDLE: product description
		.summary {
			@include span(7 of 24);
		}
		
		// RIGHT: price, extra info & add to cart button
		div[itemprop="offers"],
		.disponibilitate {
			@include span(3 of 24);
			border-right: solid 1px #ccc;
		}
		.info-notes {
			@include span(last 4 of 24);
		}
		.contact {
			@include span(last 7 of 24);
		}
		.cart {
			@include span(last 7 of 24);
		}
		
		// BELLOW: related products
		.related.products {
			
			@include span(full);
			li.product {
				@include span(3 of 12);
			}
			
			h2 {
				text-align: left;
			}
		}
	}

	/**
	 * Cart
	 */
	table.cart {
		.product-thumbnail {
			display: table-cell;
	
			img {
				margin: 0;
			}
	
		}
	}
	
	/**
	 * Checkout
	 */
	#order_review_heading,
	#order_review {
		border: 3px solid $color1;
	}
	#order_review_heading {
		border-width: 3px 3px 0;
	}
	#order_review {
		border-width: 0 3px 3px;
	}
}
