/**
 * Forms
 */

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.added_to_cart {
    @include sexy-border($color2, $color1, #f0b0a0);
    padding: 10px 20px;
    line-height: 22px;
    height: 46px;
	&.cta,
	&.alt {
		@include sexy-border(white, $color1, #f0b0a0);
	    padding: 10px 20px;
	    line-height: 22px;
		background: $color2;
		&:hover {
			opacity: inherit;
		}
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea,
.input-text {
	@include form-element;
}
textarea {
	height: 120px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	background-color: white;
}

[placeholder]:focus::-webkit-input-placeholder {
	-webkit-transition: opacity 0.15s 0.15s ease;
	-moz-transition: opacity 0.15s 0.15s ease;
	transition: opacity 0.15s 0.15s ease;
	opacity: 0;
}

/* Style select dropdowns */
/* Used Chosen js library */ 
.chosen-container {
	.chosen-single {
		@include form-element;
		height: auto;
		background: none;
		span {
			margin-right: .5em;
			font-weight: normal;
			color: $text-color;
			font-size: 14px;
		}
		div b {
			background-position: 2px 12px;
		}
	}
	&.chosen-with-drop .chosen-single {
		border: solid 1px #ccc;
		box-shadow: none;	
		background: none;
		div b {
			background-position: -16px 12px;
		}
	}
	.chosen-results li {
		border: solid 1px white;
		&.highlighted {
			border: solid 1px $color1;
			background: none;
			color: $text-color;
		}
	}
}