/**
 * Forms
 */

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.added_to_cart {
    @include sexy-border($color2, $color1, #f0b0a0);
    padding: 10px 20px;
    line-height: 22px;
    
    // Calculate height to avoid re-rendering.
    // paddings + line height + borders
    height: 20px + 22px + 4px;
	&.cta,
	&.alt {
		@include sexy-border(white, $color1, #f0b0a0);
	    padding: 10px 20px;
	    line-height: 22px;
	    
	    // Reset parent theme styling
		background-color: $color2;
		&:hover {
			background-color: $color2;
			opacity: inherit;
		}
	}
	
	// Reset parent theme styling
	&:focus {
		outline: none;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea,
.input-text {
	@include form-element;
	
	// Reset parent theme styling
	&:focus {
		background-color: transparent;
		color: $text-color;
	}
}
textarea {
	height: 120px;
}
