/**
 * Main Naivgation
 */

/**
 * General Menu Styles
 */
ul.menu {
	margin: 0;
	> li {
        display: inline-block;
    }
}

/**
 * Top Menu
 */
.top-menu {
	text-align: right;
	
		
	@media screen and (max-width: 768px) {
		li a {
			// Hide all links
			display: none;
			
			// Display only the cart
			&.cart {
				display: inline;
				
				// Replace the text with an icon
				@include icon-replacement("\f07a", $color2, 35px);
				
				// Place the number of items above the icon
				position: relative;
				.no_items {
					position: absolute;
					top: -33px;
					right: 5px;
					
					@include disk-background(17px, $color1, white, 12px);
				}
			}
		}
	}
}
		
@media screen and (min-width: 768px) {
	/**
	 * Top Menu
	 */
    .top-menu {

		li {
			// Add vertical lines as separators
            margin-right: 10px;
            border-right: 1px solid #aaa;
            padding-right: 10px;
            line-height: .6em;
            &:last-child {
                margin-right: 0;
                border-right: none;
                padding-right: 0;
            }
            
			a {
				@include menu-links(12px);

				// Add a cart icon to the Cart link
				&.cart {
    				color: $color2;
    				@include icon("\f07a");

					.no_items {
						&::before {
							content: "(";
						}
						&::after {
							content: ")";
						}
					}
				}
            }
        }
    }
    
	/**
	 * Primary Navigation
	 */
	.main-nav {
		ul.menu {
    		text-align: center;
    		
			li {
                margin-right: 50px;
                &:last-child {
                    margin-right: 0;
                }
                
                // Fancy border top effect.
				a {
    				@include menu-links;
                    display: block;
                    margin-top: -1px;
                    border-top: solid 2px transparent;
                    padding: 25px 0 0;
                    transition: all 0.35s ease-in-out;
                }
                a:hover,
                &.current-menu-item > a {
                    border-top: solid 2px $text-color;                        
                }
            }
        }
    }
    
	/**
	 * Secondary Navigation
	 */
	.secondary-nav {
		ul.menu {
    		text-align: center;
    		
			li {
                margin-right: 5px;
                &:last-child {
                    margin-right: 0;
                }
                
				a {
    				@include sexy-border;
                }
                a:hover,
                .current-menu-item a {
    				color: black !important;
                }
            }
        }
    }
}
