/**
 * Widgets
 */

/**
 * Side widgets
 */
.widget-area {
    .widget {
	    font-size: inherit;
        h1.widget-title {
            @include side-widget-title;
        }
        a {
            opacity: 1;
        }
    }
}

/**
 * Footer widgets
 */
.footer-widgets {
	border-bottom: 1px solid #DADADA;
	padding-top: 1.618em;
    .widget {
        h3 {
            @include footer-widget-title;
        }
        .textwidget {
            @include widget-body;
        }
    }
}

/**
 * Specific widgets
 */
.widget_product_categories,
.widget_nav_menu {
	> ul,
	> div {
        @include widget-body;
    }
    ul {
		li {
            display: list-item;
            border-bottom: double 3px #eee;
            padding: 10px 5px 15px;
            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
            }

			&:before {
				content: "" !important;
			}

			&.current-cat {
				&:before {
					content: "" !important;
				}
			}
            a,
            span {
                @include menu-links;
                font-size: 15px;
            }
            ul.children {
                margin: 0 0 0 2em;
                li:first-child {
                    margin-top: 17px;
                    border-top: double 3px #eee;
                    padding-top: 15px;
                }
            }
		}
	}
}

.widget_search,
.widget_product_search {
	form {
		&::before {
			top: 0;
			left: 0;
			padding: 12px 15px;
			line-height: 24px;
			padding-top: 11px;
			color: #9d9d9d;
		}
		input[type=text],
		input[type=search] {
			padding-left: 35px;
		}
	}
}


#mc-embedded-subscribe-form {
	input[type=email] {
		width: 100%;
		margin-bottom: 1.6em;
	}
}

.fb_iframe_widget {
	overflow: hidden;
	max-width: 100%;
}
