/**
 * Global styles
 */

/**
 * Header
 */
.site-header {
	
	// Reset parent theme styling
	background-color: transparent;
    
    @media screen and (min-width: 768px) {
	    .top-message {
	        @include menu-links(12px);
	    }
	    
	    // Place the logo in the center.
	    .logo {      
	        text-align: center;
	        img {
	            display: inline;
	        }
	    }
	}
    
    // Set a wide background.
    .brand {
        border-top: 1px solid $color1;
        border-bottom: 1px solid $color1;
        background: transparent url("img/header_pattern.jpg") repeat top left;
    }
}

/**
 * Footer
 */
.site-footer {
	
	// Reset parent theme styling
	color: $text-color;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $text-color;
	}
	a:not(.button) {
		color: $link-color;
		&:hover {
			color: $link-hover-color;
		}
	}
}

/**
 * Tables
 */
table {
	
	// Reset parent theme styling
	tbody {
		td,
		tr:nth-child(2n) td {
			background: none;
		}
	}
}
