/**
 * Global styles
 */

/**
 * Header
 */
.site-header {
    margin-bottom: 3em;
	background-color: white;
	padding-top: 0;
    #top-zone-wrapper {
        padding: 1em 0;
        background-color: white;
    }
    #logo-zone-wrapper {
        margin-bottom: 2em;
        text-align: center;
        img {
            display: inline;
            height: 93px;
        }
    }
    #brand-zone-wrapper {
        border-top: 1px solid $color1;
        border-bottom: 1px solid $color1;
        background: transparent url("img/header_pattern.jpg") repeat top left;
    }
}

/**
 * Main content area
 */
.post-type-archive h1,
.woocommerce-ordering,
.woocommerce-result-count {
    display: none;
}

/**
 * Footer
 */
.site-footer {
	color: $text-color;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $text-color;
	}
	a:not(.button) {
		color: $link-color;
		&:hover {
			color: $color1;
		}
	}
	
}
.legal {
    margin-top: 1.618em;
    text-align: center;
}


/**
 * Tables
 */
table {
	tbody {
		tr:nth-child(2n) {
			td {
				background: none;
			}
		}
		td {
			background: none;
		}
	}
}


/**
 * Product Listings ???
 */
ul.products {
    li.product {
        figure {
            position: relative;
            min-height: 240px;
            img {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
	            margin: 0 auto 10px;
            }
        }
        h3,
        .price {
            font-size: 15px;
            font-weight: bold;
        }
        h3 {
            color: #777;
            line-height: 20px;
            height: 40px;
        }
        .onsale {
            position: absolute;
            top: 2em;
            left: 2em;
            @include sexy-border($color2, $color2);
            padding: 5px 10px 4px;
        }
        .star-rating {
            display: none;
        }
        .price {
            color: black;
        }
    }
}

/**
 * Cart ???
 */
.cart_totals {
	.wc-proceed-to-checkout .button.checkout-button {
		font-size: 13px;
	}
}
table.cart {
	thead {
		text-indent: 0;
	}
	th,
	td {
		padding: 30px 5px;
		border-bottom: 1px solid #ccc;
	}
	td {
		vertical-align: middle;
	}	
	.product-thumbnail {
		display: table-cell;
		img {
			margin: 0;
		}
	}
	.variation {
		dt,
		dd {
			display: inline-block;
		}
	}
	.qty {
		max-width: 3.6em;
	}
}
a.remove {
	font-size: 21px;
}


/**
 * Checkout ???
 */
@media screen and (min-width: 768px) {
	#order_review_heading,
	#order_review {
		border: 3px solid $color1;
	}
	#order_review_heading {
		border-width: 3px 3px 0;
	}
	#order_review {
		border-width: 0 3px 3px;
	}
}


/**
 * Product page ???
 */
.woocommerce.single-product div.product {
	.product_meta {
		font-size: 1em;
		// Hide SKU and default taxonomies
		.sku_wrapper,
		.posted_in,
		.tagged_as {
			display: none;
		}
		.atentionari {
			margin: 1em 0;
			position: relative;
			&::before {
				font-family: FontAwesome;
				content: "\f06a";
				position: absolute;
				left: -19px;
				font-size: 14px;
				color: $color1;
			}
		}	
		ul.custom_taxonomies {
			margin: 0;
			list-style-type: square;
			color: $color1;
			label,
			span {
				color: $text-color;
			}
		}	
	}
	div[itemprop="offers"] {
		border-right: solid 1px #ccc;
		font-size: 23px;
		line-height: 26px;
		font-weight: bold;
		.price {
			margin-bottom: 4px;
		}
	}
	.disponibilitate {
		border-right: solid 1px #ccc;
		span {
			display: inline-block;
			max-width: 89px;
			background: $color1;
			color: white;
			padding: 2px 10px 2px 10px;
			text-transform: uppercase;
			font-size: 13px;
			font-weight: bold;
		}
	}
	.info-notes {
		padding: 2px 10px 2px 10px;
		font-size: 13px;
		font-weight: bold;
		div {
			position: relative;
			&::before {
				font-family: FontAwesome;
				position: absolute;
				top: -1px;
				left: -21px;
				font-size: 14px;
				color: $color1;
			}
			&.delivery::before {
				content: "\f0d1";
			}
			&.payment::before {
				content: "\f0d6";
			}
			&.return::before {
				content: "\f079";
			}			
		}
	}
	.contact {
		margin: 35px 0 0 0;
		font-size: 13px;
		font-weight: bold;
	}
	form.cart {
		margin: 30px 0 0 0;
		border-top: solid 1px #ccc;
		padding-top: 35px;
		.quantity {
			display: none !important;
		}
		button {
			width: 100%;
			&::before {
				font-family: FontAwesome;
				content: "\f07a";
				margin-right: .5em;
			}
		}
		// Choose size, color, etc.
		.variations {
			.label {
				display: none;
			}
			.value {
				height: 46px;
				margin-bottom: 35px;
			}
			.reset_variations {
				display: none !important;
			}
		}
		// Choose quantity and Submit button
		.single_variation_wrap {
			display: block !important;
			.available-on-backorder {
				display: none;
			}
			.variations_button {
				border: none;
				padding: 0;
			}			
		}

	}
}
