/**
 * Global styles
 */

/**
 * Header
 */
.site-header {
	background-color: transparent;
    
    .top-message {
        @include menu-links(12px);
    }
    
    .logo {      
        text-align: center;
        img {
            display: inline;
        }
    }
    
    // Set a wide background.
   	> .col-full {
		max-width: none;
	    .brand {
	        border-top: 1px solid $color1;
	        border-bottom: 1px solid $color1;
	        background: transparent url("img/header_pattern.jpg") repeat top left;
	    }
	}
}

/**
 * Footer
 */
.site-footer {
	color: $text-color;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $text-color;
	}
	a:not(.button) {
		color: $link-color;
		&:hover {
			color: $color1;
		}
	}
}

/**
 * Tables
 */
table {
	tbody {
		tr:nth-child(2n) {
			td {
				background: none;
			}
		}
		td {
			background: none;
		}
	}
}
