/**
 * Typography
 */

body,
button,
input,
select,
textarea {
	color: $text-color;
	font-family: $font;
	font-size: $font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $header-font;
	font-weight: normal;
}

a {
	color: $link-color;
	&:hover {
		color: $link-hover-color;
	}
	&:focus {
		outline: none;
	}
}
