// Bold, uppercase & spaced out text
@mixin menu-links($font-size: $font-size) {
    font-size: $font-size;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $text-color;
}

// Sexy borders for menus and buttons
@mixin sexy-border($text-color : $color2, $border-color : $color1, $hover-color : transparent) {
    border: solid 2px $border-color;
    box-shadow: none;
    background: transparent;
    padding: 5px 45px 4px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    color: $text-color;
    transition: all 0.35s ease-in-out;
    &:hover {
        background: $hover-color;
    }
}

// Bigger & thiner form elements
@mixin form-element {
	border: solid 1px #ccc;
	padding: 10px 15px;
	line-height: 24px;
	border-radius: 2px;
	box-shadow: none;
	background-color: transparent;
	color: $text-color;
}

// Style widget title with that bottom border
@mixin widget-title {
    display: inline-block;
    margin: 0;
    margin-bottom: -2px;
    border-bottom: solid 2px #444;
    padding-bottom: 20px;
    font-weight: normal;
}
@mixin side-widget-title {
    @include widget-title;
    font-size: 28px;
}
@mixin footer-widget-title {
    @include widget-title;
    font-size: 15px;
    text-transform: uppercase;
    color: #333;
}
@mixin widget-body {
    border-top: solid 2px #e9e9e9;
    padding-top: 25px;
}

// Insert FontAwesome icon
@mixin icon($glyph: "\f05a", $color: inherit) {
	&::before {
		font-family: FontAwesome;
		content: $glyph;
		margin-right: .5em;
		color: $color;
	}
}

// Insert FontAwesome icon
@mixin icon-replacement($glyph: "\f05a", $color: $color1, $size: $font-size) {
	@include icon($glyph, $color);
	
	// Hide text
	font-size: 0;
	&::before {
		font-size: $size;
	}
}
