$font:            'PT Sans', sans-serif;
$header-font:     $font;

$color1:           #5FC5B8; // green
$color2:           #E0575E; // red
$color3:           #CCCCCC; // light-grey

$text-color:       #444444; // dark-grey
$link-color:       #555555; // darker-grey
$link-hover-color: $color1;

$font-size:        14px;

// Susy settings
$susy: (
	columns: 12,
	gutters: 1,
	math: fluid,
	output: float,
	gutter-position: after
);
